.like-icon:hover {
  .core {
    fill: var(--accent-color);
    transition: fill 0.3s;
  }
  .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s 0.05s;
  }
}

.like-icon:not(:hover) {
  .core {
    fill: none;
    transition: fill 0.3s 0.03s;
  }
  .main-body {
    fill: none;
    transition: fill 0.3s;
  }
}

.like-icon:active {
  .core {
    fill: var(--sparks-color);
    transition: fill 0.3s;
  }
  .main-body {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.05s;
  }
}

.like-icon.is-liked {
  animation-name: scaling;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  .core {
    fill: var(--sparks-color);
    transition: fill 0.3s;
  }
  .main-body {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.05s;
  }
  .contour {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.06s;
  }
}

.like-icon:not(.is-liked) {
  .contour {
    fill: var(--accent-color);
    transition: fill 0.1s;
  }
}

.like-icon.is-liked {
  .sparks {
    animation: sparkling 0.3s ease-in 0.3s;
  }
}

.sparks {
  opacity: 0;
}

@keyframes arrow {
  from {
    inset-inline-start: -13px;
  }

  to {
    inset-inline-start: -9px;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes sparkling {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
