.page {
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--paragraph-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  background-image: var(--gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-block-start: 100px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 20px;
  font-family: var(--accent-font), fantasy;
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  text-transform: uppercase;
}

.header__logo-link {
  font-variation-settings: var(--title-font-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  padding-block-start: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: opacity 0.3s ease, width .6s;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--accent-color);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled:before {
  position: absolute;
  content: "▶";
  inset-inline-start: -13px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.align-item {
  margin-inline-start: 4px;
}

.align-item-left {
  margin-inline-end: 10px;
}

.align-item-right {
  margin-inline-start: 18px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 50px;
  width: var(--card-width);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.section:first-child {
  margin-block-start: 100px;
}

.card-button {
  padding: 10px 35px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid currentColor;
  cursor: pointer;
}

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  outline: none;
}

.button::before {
  position: absolute;
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  
}

.section-heading {
  border-block-end: 2px solid var(--accent-color);
  font-variation-settings: var(--title-font-weight);
  font-family: var(--main-font), sans-serif;
  padding-inline-start: 10px;
  line-height: 31px;
  font-size: 18px;
  @media (max-width: 375px) {
    padding-inline-end: 5px;
    line-height: 23.3px;
    padding-block-start: 4px;
    padding-block-end: 3px;
  }
}

.section-paragraph {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--paragraph-font-weight);
  font-size: 18px;
  line-height: 117%;
  @media (max-width: 375px) {
    padding-inline-end: 1px;
  }
 
}

.content {
  padding: 25px 25px 0;
  border-block-start: 2px solid var(--accent-color);
  display: grid;
  gap: 26.7px;
}

.elements-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.image-box {
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  @media (max-width: 375px) {
    aspect-ratio: 1 / 1;
   
  }
}

.watermark {
  font-weight: 700;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  position: absolute;
  opacity: 0.6;
  top: 26px;
  right: 25px;
  text-shadow: 0 0 2px var(--bg-color);
}

@supports (text-stroke: 1px var(--bg-color)) or
  (-webkit-text-stroke: 1px 1px var(--bg-color)) {
  .watermark {
    -webkit-text-stroke: 0.5px var(--bg-color);
    text-shadow: none;
  }
}

.text-transform {
  text-transform: lowercase;
}

.like-buttons {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  gap: 6px;
  cursor: pointer;
  margin: 25px 25px 25px 0;
}

.card__icon-button {
  padding: 0;
  margin-inline-end: -2px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  @media (max-width: 375px) {
   margin-inline-end: 0;
   
  }

}

.heart-button-card {
  padding: 0;
  margin-inline-end: -2px;
  max-height: 38px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.like-icon {
  border: 2px solid transparent;
  margin-block-end: 8px;
  display: block;
  transition: border 0.3s ease;
}

.save-button {
  margin: 50px auto 105px;
  background-color: var(--bg-color);
  padding: 15px 20px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  border: 2px solid currentColor;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  @media (max-width: 375px) {
    margin: 52px 25px 100px 33px;
    flex-direction: column;
    padding: 13px 18px 15px  20px;
    line-height: 90%;
   

  }
}

.button-icon {
  color: var(--button-text-color);
  mix-blend-mode: difference;
  max-width: 21px;
  height: 100%;
  @media (max-width: 375px) {
    height: 29px;
    max-width: none;

  }
}

.modal {
  padding: 0;
  font-family: var(--accent-font), fantasy;
  font-size: 9.9px;
  color: var(--accent-color);
  background-color: var(--bg-color);
  text-transform: uppercase;
  width: 357px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.modal-group {
  align-items: center;
  margin: 30px 30px 25px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  letter-spacing: -0.1em;
}

.modal-paragraph {
  line-height: 150%;
}

.modal-icon {
  color: var(--accent-color);
  width: 40px;
  height: 100%;
}

.closeModal {
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  margin: 0 31px 29px;
  display: flex;
  align-items: center;
  padding: 10px 130px;
  align-self: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

.img {
  filter: brightness(1);
  object-fit: cover;
  width: 100%;
  
}

.mixed-filter {
  filter: hue-rotate(90deg) blur(3px) contrast(0.6);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-saturate {
  filter: saturate(3);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(0.9);
}

.filter-blur {
  filter: blur(20px);
}

@media (max-width: 375px) {
  .watermark {
    top: 25px;
    right: 11px;
  }
}
